* {
    padding: 0;
    margin: 0;
}


.userform {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: black;
    margin: auto;
}

.grid-container {
    columns: 3 100px;
    column-gap: 0.5rem;
    width: 90%;
    margin: 0 auto;
}

.grid-container>div {
    margin: 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 0px;
    border-radius: 5px;
    /* transition: all .25s ease-in-out; */
}

.grid-container>div>img {
    width: 100%;
    /* transition: all .25s ease-in-out; */
    filter: grayscale(0);
}

.grid-container>div>img:hover{
    filter: grayscale(0);
}

.btns {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

.btns:hover {
    font-weight: bold;
}

.form {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: black;
}

@media screen and (max-width: 800px) {
    .btns {
        border: 1px solid white;
        border-radius: 3px;
        padding: 4px;
        background-color: black;
        font-size: 10px;
    }
}